/*
  ========================================
  COLORS
  ========================================
*/ 
:root {
    --color-white: #FFFFFF;
    --color-black: #1F2937;
    --color-dark-black: #1C1C1C;
    --color-purple-gradient: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
}

/*
  ========================================
  GENERIC SITE STYLES
  ========================================
*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: var(--color-dark-black);
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    text-align: center;
    overflow-x: hidden;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
html {
    scroll-behavior: smooth;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

/*
  ========================================
  TYPOGRAPHY
  ========================================
*/
body {
    font-family: 'Inter', sans-serif;
    color: var(--color-white);
}
h1, 
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 800;
    font-size: 1.75rem;
}
h2 {
    font-weight: 500;
    font-size: 1.50rem;
}
h3 {
    font-weight: 400;
    font-size: 1.25rem;
}
p {
    font-weight: 300;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--color-white);
}

/*
  ========================================
  INTRO SECTION
  ========================================
*/
.intro {
    margin-top: 25px;
    margin-bottom: 25px;
    flex-basis: 100%;
}

/*
  ========================================
  INPUT SECTION
  ========================================
*/
.input-num-div,
.input-num-sec {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.input-num-sec {
    flex-basis: 100%;
    margin-bottom: 20px;
}
.input-num-div {
    flex-basis: 80%;
    gap: 20px;
}
.input-num-sec #input-num1,
.input-num-sec #input-num2 {
    width: 30%;
    max-width: 150px;
    min-width: 100px;
    padding: 5px;

    font-size: 1.25rem;
    font-family: inherit;
    text-align: center;
    line-height: inherit;

    color: var(--color-white);
    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 0.25rem;
}

/*
  ========================================
  ARITHMETIC SECTION
  ========================================
*/
.arithmetic-sec {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.arithmetic-sec button {
    flex-basis: 20%;
    min-width: 50px;
    max-width: 72px;

    font-size: 1.25rem;
    font-family: inherit;
    text-align: center;
    line-height: inherit;
}

/*
  ========================================
  RESULT SECTION
  ========================================
*/
.result-sec {
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.result-sec .result {
    width: 20%;
    max-width: 300px;
    min-width: 200px;
    padding: 5px;

    font-size: 1.25rem;
    font-family: inherit;
    font-weight: 600;
    text-align: center;
    line-height: inherit;

    background-color: var(--color-black);
    border: 1px solid var(--color-black);
    border-radius: 0.25rem;
}

/*
  ========================================
  FOOTER
  ========================================
*/
.footer {
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer,
.socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.socials-list {
    flex-basis: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.socials-list a {
    font-size: 2rem;
}
.socials-list a i:hover,
.socials-list a img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.footer p {
    margin-top: 10px;
    flex-basis: 100%;
}
.footer img {
    width: 27px;
}