/*
  ========================================
  COLORS
  ========================================
*/ 
:root {
    --color-white: #FFFFFF;
    --color-black: #1F2937;
    --color-dark-black: #1C1C1C;
    --color-pass-bg: rgba(39, 53, 73, 1);
    --color-green-pass-text: #55F991;
    --color-dark-green: #059669;
}

/*
  ========================================
  GENERIC SITE STYLES
  ========================================
*/
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: var(--color-black);
    margin: 0 auto;
    padding: 0;
    text-align: center;
    overflow-x: hidden;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
html {
    scroll-behavior: smooth;
}

/*
  ========================================
  TYPOGRAPHY
  ========================================
*/
body {
    font-family: 'Inter', sans-serif;
    color: var(--color-white);
}
h1, 
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 800;
    font-size: 2.5rem;
}
h2 {
    font-weight: 500;
    font-size: 1.50rem;
}
h3 {
    font-weight: 400;
    font-size: 1.25rem;
}
p {
    font-weight: 300;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--color-white);
}
input {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
}

/*
  ========================================
  PASSWORD SECTION
  ========================================
*/
.pg-container {
    flex-basis: 100%;

    background: #1F2937;
}
.intro-sec {
    width: 445px;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 30px;

    text-align: left;
    border-bottom: 1px solid #2F3E53;
}
.h1-green {
    color: #4ADF86;
    margin-bottom: 10px;
}

/* customize */
.customize-sec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-top: 30px;
    margin-bottom: 30px;

    text-align: center;
}
.custom-length,
.custom-symbol,
.custom-number {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card-length,
.card-symbol,
.card-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 125px;
    height: 105px;

    background-color: var(--color-pass-bg);
    border-radius: 6px;
}
/* plus minus */
#minus-btn,
#plus-btn {
    color: var(--color-white);
    font-size: 1.25rem;
    background-color: var(--color-dark-green);
    border: 1px solid var(--color-pass-bg);
    border-radius: 4px;
}
.plusminus {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.plusminus .number {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 40px;

    font-family: monospace;
}

.intro-sec #pass-length-input {
    width: 50px;
}
#pass-length-input::-webkit-inner-spin-button, 
#pass-length-input::-webkit-outer-spin-button {  
   opacity: 1;
}

/* symbol */
.toggle {
    position: relative;
  }
  
.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: relative;
    display: block;
    cursor: pointer;
    background-color: var(--color-black);
    transition: 0.4s;
    width: 60px;
    height: 27px;
}
.slider:before {
    content: "";
    position: absolute;
    height: 20px;
    width: 25px;
    background-color: #fff;
    transition: 0.4s;
    top: 3.5px;
    left: 6px;
}
input:checked + .slider {
    background-color: var(--color-dark-green);
    /* box-shadow: 0 0 5px var(--color-dark-green); */
}
input:checked + .slider:before {
    transform: translateX(23px);
}
.slider.round {
    border-radius: 4px;
}
.slider.round::before {
    border-radius: 4px;
}


/* generate btn */
.intro-sec .generate-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    
    width: 223px;
    height: 42px;

    font-size: 1rem;
    color: var(--color-white);
    background: #10B981;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--color-black);
    border-radius: 6px;
}

.passwords-sec {
    flex-basis: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    gap: 25px;
    justify-content: center;
}

.first-pass-sec,
.second-pass-sec {
    grid-row: 1/ span 1;
}
.third-pass-sec,
.fourth-pass-sec {
    grid-row: 2/ span 1;
}
.first-pass-sec,
.third-pass-sec {
    grid-column: 1/ span 1;
}
.second-pass-sec,
.fourth-pass-sec {
    grid-column: 2/ span 1;
}

.first-pass-sec,
.second-pass-sec,
.third-pass-sec,
.fourth-pass-sec {
    display: grid;
}

.first-pass-sec,
.third-pass-sec {
    justify-self: end;
}
.second-pass-sec,
.fourth-pass-sec {
    justify-self: start;
}

#first-pass,
#second-pass,
#third-pass,
#fourth-pass {
    grid-area: 1 / 1;
    width: 211px;
    height: 39px;
    padding-right: 50px;
    padding-left: 10px;

    color: var(--color-green-pass-text);
    background-color: var(--color-pass-bg);
    border-radius: 6px;
    border: 3px solid var(--color-pass-bg);
}
.copy-btn {
    grid-area: 1 / 1;
    width: 40px;
    margin-left: 160px;

    font-size: 1.2rem;
    color: var(--color-green-pass-text);
    background-color: var(--color-pass-bg);
    border: 3px solid var(--color-pass-bg);
}

/*
  ========================================
  FOOTER
  ========================================
*/
.footer {
    flex-basis: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.footer,
.socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.socials-list {
    flex-basis: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.socials-list a {
    font-size: 2rem;
}
.socials-list a i:hover,
.socials-list a img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.footer p {
    margin-top: 10px;
    flex-basis: 100%;
}
.footer img {
    width: 27px;
}