/*
  ========================================
  COLORS
  ========================================
*/ 
:root {
    --color-white: #FFFFFF;
    --color-black: #1F2937;
    --color-dark-black: #1C1C1C;
    --color-purple-gradient: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    --color-light-yellow: #fff9db;
    --color-light-red: #ffc9c9;
}

/*
  ========================================
  GENERIC SITE STYLES
  ========================================
*/
html {
    box-sizing: border-box;
} 
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    background-color: var(--color-dark-black);
    margin: 0 auto;
    padding: 0;
    max-width: 520px;

    text-align: center;

    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
html {
    scroll-behavior: smooth;
}
.body-container {
    margin-left: 25px;
    margin-right: 25px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;   
}

/*
  ========================================
  TYPOGRAPHY
  ========================================
*/
body {
    font-family: 'Inter', sans-serif;
    color: var(--color-white);
}
h1, 
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}
h1 {
    font-weight: 800;
    font-size: 1.75rem;
}
h2 {
    font-weight: 500;
    font-size: 1.50rem;
}
h3 {
    font-weight: 400;
    font-size: 1.25rem;
}
p {
    font-weight: 300;
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: var(--color-white);
}

/*
  ========================================
  HEADER SECTION
  ========================================
*/
header {
    flex-basis: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}
.header-container {
    width: 290px;
    margin: 0 auto;
}
header h1 {
    margin-bottom: 10px;
}

/*
  ========================================
  TIMER SECTION
  ========================================
*/
.timer-sec {
    flex-basis: 100%;
    margin-bottom: 35px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.timer-sec #minus-btn,
.timer-sec #plus-btn {
    font-size: 2rem;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    border-radius: 4px;
}
.play-pause-res-sec {
    flex-basis: 100%;
    margin-top: 15px;
    margin-bottom: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}
.timer-sec #play-btn,
.timer-sec #pause-btn,
.timer-sec #restart-btn {
    width: 30px;
    font-size: 1.5rem;
    color: var(--color-white);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.plusminus {
    flex-basis: 100%;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}
.plusminus .time {
    margin: 0 20px 0 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;

    font-size: 1.75rem;
    font-weight: 600;
}
.harvest-container {
    flex-basis: 100%;
}
.harvest-container .harvest-msg {
    margin-bottom: 10px;
}

/*
  ========================================
  TOMATO STORAGE
  ========================================
*/
#tomato-sec {
    flex-basis: 100%;
    margin-bottom: 20px;
}
#tomato-storage {
    background: var(--color-light-red);
    border-radius: 10px;
    min-height: 50px;
    width: 260px;
    margin: 10px auto;
    padding: 8px;
}
#tomato-sec h3 {
    text-align: left;
    width: 260px;
    margin: 0px auto;
}
#tomato-storage-list {
    margin: 0;
    padding: 0;
    height: 65px;

    overflow-y: scroll;
}
#tomato-storage-list li {
    display: inline-block;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

/*
  ========================================
  KETCHUP FACTORY
  ========================================
*/
.ketchup-factory {
    width: 260px;
    margin-bottom: 20px;
}
.ketchup-factory h3 {
    text-align: left;
    margin-bottom: 10px;
}
#possible-ketchups {
    margin-bottom: 10px;
}
.ketchup-factory-container {
    width: 260px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 12px;
}
.sweet-input-sec,
.spicy-input-sec,
.sweet-spicy-input-sec {
    flex-basis: 30%;
}
.ketchup-factory-container button {
    width: 100%;
    height: 48px;
    padding: 8px;

    background: var(--color-light-red);
    border: 0px solid var(--color-black);
    border-radius: 10px;
    font-size: 0.72rem;
}
.ketchup-factory-container input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;

    border: 1px solid var(--color-black);
    border-radius: 3px;
}

/*
  ========================================
  KETCHUP STORAGE
  ========================================
*/
.ketchup-storage-sec {
    width: 260px;
}
.ketchup-storage-sec h3 {
    text-align: left;
    margin-bottom: 10px;
}
.ketchup-storage {
    width: 260px;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    gap: 12px;
}
.sweet-sec,
.spicy-sec,
.sweet-spicy-sec {
    flex-basis: 30%;
}
#sweet-storage,
#spicy-storage,
#sweet-spicy-storage {
    height: 65px;
    padding: 8px;

    background: var(--color-light-red);
    border-radius: 10px;
}
.ketchup-storage p {
    margin-bottom: 10px;
    font-size: 0.72rem;
}

/*
  ========================================
  FOOTER
  ========================================
*/
.footer {
    margin-top: 50px;
    margin-bottom: 30px;
}
.footer,
.socials {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.socials-list {
    flex-basis: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.socials-list a {
    font-size: 2rem;
}
.socials-list a i:hover,
.socials-list a img:hover {
    transform: scale(1.1);
    transition: 0.5s;
}
.footer p {
    margin-top: 10px;
    flex-basis: 100%;
}
.footer img {
    width: 27px;
}
